<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/Public/css/Styles.css" />
        <script src="https://kit.fontawesome.com/7e51e6b771.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header> 
            <section class="EncabezadoPrincipal">
                <img id="Logo" src="../Public/Img/logo-mercado-liebre.svg"> </img>
                
                <div class="BarraBusqueda">
                    <input type="text" placeholder="Buscar productos, marcas"></input>
                    <button><i class="fas fa-search"></i></button>
                </div>
            </section>

            <label class="TextoTitulo1">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito 
            </label>

            <a href="#" class="BotonBarras">
                <i class="fas fa-bars"></i>
            </a>


            <nav class="ListaNavegacion">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul>
                    <li><a href="CrearCuenta.html">Creá tu cuenta <i class="fas fa-credit-card"></i> </a></li>
                    <li><a href="Login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <img id="Banner" src="../Public/Img/img-home-banner.jpg"> </img>
        </header>

        <main class="homemain">
            <h1>Basado en tu última visita </h1>
            <section class="PortalProductos">
                <article class="ContenidoProductos">
                    <img src = "./Img/img-cafetera-moulinex.jpg"> </img>
                    
                    <i class="fas fa-truck"></i>

                    <div>
                        <label class="ColumnaPrecio">$280.000</label>
                        <label class="ColumnaDescuento">15% Off</label>
                    </div>

                    <label>Cafetera Moulinex</label>    
                </article>

                <article class="ContenidoProductos">
                    <img src = "./Img/img-macbook-pro-2019.jpg"> </img>

                    <i class="fas fa-truck"></i>

                    <div>
                        <label class="ColumnaPrecio">$4´500.000</label>
                        <label class="ColumnaDescuento">10% Off</label>
                    </div>

                    <label> Mac Book Pro 2019 </label>
                </article>

                <article class="ContenidoProductos">
                    <img src = "./Img/img-samsung-galaxy-s10.jpg"> </img>

                    <i class="fas fa-truck"></i>

                    <div>
                        <label class="ColumnaPrecio">2´400.000</label>
                        <label class="ColumnaDescuento">15% Off</label>
                    </div>

                    <label>Samsung Galaxy S10</label>
                </article>

                <article class="ContenidoProductos">
                    <img src = "./Img/img-tv-samsung-smart.jpg"> </img>

                    <i class="fas fa-truck"></i>

                    <div>
                        <label class="ColumnaPrecio">1´700.000</label>
                        <label class="ColumnaDescuento">20% Off</label>
                    </div>

                    <label>Samsung Smart TV</label>
                </article>
            </section>

            <h1>Ofertas</h1>
            <section class="PortalProductos">
                <article class="ContenidoProductos">
                    <img src = "./Img/img-cafetera-moulinex.jpg"> </img>
                    
                    <i class="fas fa-truck"></i>

                    <div>
                        <label class="ColumnaPrecio">$280.000</label>
                        <label class="ColumnaDescuento">15% Off</label>
                    </div>

                    <label>Cafetera Moulinex</label>    
                </article>

                <article class="ContenidoProductos">
                    <img src = "./Img/img-macbook-pro-2019.jpg"> </img>

                    <i class="fas fa-truck"></i>

                    <div>
                        <label class="ColumnaPrecio">$4´500.000</label>
                        <label class="ColumnaDescuento">10% Off</label>
                    </div>

                    <label> Mac Book Pro 2019 </label>
                </article>

                <article class="ContenidoProductos">
                    <img src = "./Img/img-samsung-galaxy-s10.jpg"> </img>

                    <i class="fas fa-truck"></i>

                    <div>
                        <label class="ColumnaPrecio">2´400.000</label>
                        <label class="ColumnaDescuento">15% Off</label>
                    </div>

                    <label>Samsung Galaxy S10</label>
                </article>

                <article class="ContenidoProductos">
                    <img src = "./Img/img-tv-samsung-smart.jpg"> </img>

                    <i class="fas fa-truck"></i>

                    <div>
                        <label class="ColumnaPrecio">1´700.000</label>
                        <label class="ColumnaDescuento">20% Off</label>
                    </div>

                    <label>Samsung Smart TV</label>
                </article>
            </section>
        </main>
        
        <footer>
            <section class="piedepagina">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                <br>
                
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                <br>

                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                <br>
    
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>    
            </section>
        </footer>
    </body>

 
 </html>