*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
    padding: 1%;
}

#Logo {
    height: 50%;
    width: 50%;
}

#Banner{
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.EncabezadoPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.BarraBusqueda{
    padding-right: 5%;
}

.BarraBusqueda input{
    font-size: 20px;
    width: auto;
    height: auto;
}

.TextoTitulo1{
    font-weight: 300px;
    text-align: center;
    margin: auto;
    display: block;
    max-width: none;
    padding-right: 5%;
}

.ListaNavegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 5%;
    margin-top: 10px;
}

.ListaNavegacion ul{
    display: flex;
    list-style: none;
}

.ListaNavegacion li{
    margin: 0 5px;
}

.BotonBarras{
    background-color: #03264C;
    color: #FFFFFF;
    display: block;
    max-width: 60px;
    padding: 10px 10px 10px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}

body .homemain{
    text-align: center;
    width: 100%;
}

.PortalProductos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0% 5%;
    justify-content: space-between;
}

.PortalProductos .ContenidoProductos{
    background-color: blanchedalmond;
    border-top: solid 1px #ebebeb;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 1% 5%;
}

.PortalProductos .ContenidoProductos img{
    width: 80%;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #39b54a;
    color: #39b54a;
    border-radius: 50%;
    right: 20px;
    top: -15px;
}

.ContenidoProductos .ColumnaPrecio{
    font-size: 20px;
    font-weight: bold;
}

.gridcrearcuenta{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fill, [col-start] 20% [col-end] 80% );
    grid-template-rows: repeat( auto-fill, 1fr );
}

.gridLogin{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fill, [col-start] 20% [col-end] 80% );
    grid-template-rows: repeat( auto-fill, 1fr );
}

@media (max-width: 767px){
    .PortalProductos .ContenidoProductos{
        width: 90%;
    }
}

@media (min-width: 768px){
    .EncabezadoPrincipal{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .PortalProductos .ContenidoProductos{
        width: 40%;
    }
}

@media (min-width: 1200px){
    .EncabezadoPrincipal .ListaNavegacion{
        align-items: center;
        max-width: 1200px;
        margin: auto;
    }

    .PortalProductos {
        justify-content: space-between;
    }
    
    .PortalProductos .ContenidoProductos{
        width: 20%;
    }

    .ContenidoProductos .ColumnaPrecio{
        font-size: 16px;
        font-weight: bold;
    }   
}

.piedepagina{
    margin-top: 10px;
    text-align: center;
}

footer i{
    color: #1259c3;
    width: 35px;
    height: 35px;
}